html, body {
    height: 100%;
}

.contentPost {
    display: flex;
    flex-direction: column;
}

.contentPost span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
}
